html{
    background-color: #7FFFD4;
}

.main{
    justify-content: space-between;
    vertical-align: middle;
}

#griglia{
   display: flex;
   margin: auto;
   width: 80%;
   border: 1px solid black; 
   flex-wrap: wrap;
}

.quadrato{
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
}

.quadratoDue{
    border: 1px solid black;
    width: calc(100% / 9);
    aspect-ratio: 1/1;
}

.quadratoTre{
    border: 1px solid black;
    width: calc(100% / 7);
    aspect-ratio: 1/1;
}

.attivazione{
    background-color: #7FFFD4;
}

.numerazione{
}